body{
	margin-left: 20%;
	margin-right: 20%;
	padding: 2%;
	border:8px solid #bdc3c7;
	font-family: "Source Sans Pro";
	max-width: 700px;
	width: 80%;
}
h2{
	color: #2c3e50;
	text-decoration: underline; 
	font-size: 2.0rem
}
.date{
	color: #3498db;
	font-style: italic;
	text-transform: uppercase;
	/*0.2 times larger than the root size*/
	letter-spacing:0.2rem;
}
div p:nth-of-type(1){
	border-left: 4px solid #bdc3c7;
	padding: 5px;
}
div{
	margin-bottom: 50px;
}

/* Glyph, by Harry Roberts */
hr{
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}