/*navbar*/
nav{
	font-family: Merriweather;
}
#logo{
	width: 20%;
    height: auto;
    padding-bottom: 10px;
}
.navbar-brand{
	margin-right: -7%;
	font-weight: 700;
	font-size: 2rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: 0.8rem;
}
.user{
	color: white;
}

/*main section*/
body{
	background: url(https://g5-assets-cld-res.cloudinary.com/image/upload/q_auto,f_auto,fl_lossy/g5/g5-c-ih2kijjv-national-veterinary-associates-client/g5-cl-572somaiy-sacajawea-healthcare-for-pets/uploads/man-with-his-dog-full-hero.jpg);
}