nav{
	font-family: Merriweather;
}
#logo{
	width: 20%;
    height: auto;
    padding-bottom: 10px;
}
.navbar-brand{
	margin-right: -7%;
	font-weight: 700;
	font-size: 2rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .8rem;
    padding-left: 0.8rem;
}
.user{
	color: white;
}